{% extends "base.jinja" %}
{% block content %}
<h2>Routes</h2>
<ul>
  <li>/domain</li>
  <li>/post</li>
</ul>
<h2>API</h2>
<ul>
  <li>/v1/domains</li>
  <li>/v1/domains/&lt;domain&gt;</li>
  <li>/v1/posts</li>
  <li>/v1/posts/&lt;postid&gt;</li>
</ul>
{% endblock content %}
