{% extends "base.jinja" %}
{% block pagecontent %}
<h2><a href="/domains/{{ g.domain.domain }}">{{ g.domain.domain }}</a></h2>
<p>First seen on {{ g.domain.created }}</p>
<p>Last updated on {{ g.domain.updated }}</p>
<p>Currently storing {{ g.domain.postCount }} post(s)</p>
<ul>
{% for post in g.domain.posts %}
<li><a href="/post/{{ post.postid }}">{{ post.source }}</li>
{% endfor %}
</ul>

{% endblock pagecontent %}
