{% extends "base.jinja" %}

{% block pageheader %}
  <div class="page-header">
    <p>IndieWeb News is collection of posts from the <a href="https://indiewebcamp.com">IndieWeb community</a></p>
  </div>
{% endblock pageheader %}

{% block pagecontent %}
{% endblock pagecontent %}

{% block pagefooter %}
{% endblock pagefooter %}
