{% extends "base.jinja" %}

<-- Eventually this will be page navigation --/>
{% block pageheader %}
{% endblock pageheader %}

{% block pagecontent %}
{% for post in g.posts %}
<div class="{{ post.comment.type }}">
<h3><a href="{{ post.comment.url }}">{{ post.comment.name }}</a></h3>
{{ post.comment.content }}
</div>
{% endfor %}
{% endblock pagecontent %}

<-- Eventually this will be page navigation --/>
{% block pagefooter %}
{% endblock pagefooter %}
