{% extends "base.jinja" %}
{% block content %}

<form method="post" action="/publish">
  <label for="publish-source">Publish URL</label>
  <input type="url" name="source" placeholder="http://example.com/post" id="publish-source" required />
  <input type="hidden" name="target" value="https://indieweb.news/publish" />
  <p><button type="submit">Publish</button></p>
</form>

<p>To automatically publish to this stream place a hidden link to https://indieweb.news/publish anywhere in the article or post you want to submit. The webmention handler for IndieWeb News will process the post when it receives the mention.</p>

{% endblock content %}