{% extends "base.jinja" %}
{% block pagecontent %}

<div class="{{ g.post.comment.type }}">
<h2><a href="{{ g.post.comment.url }}">{{ g.post.comment.name }}</a></h2>
{{ g.post.comment.content }}
</div>

{% endblock pagecontent %}
